.bloco{
    font-size: 11px;
    padding-top: 50px;
   
    width: 1000px;
    background-color: whitesmoke;
    border: 5px 5px 5px 5px  #888;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #666;
}

.fonte-assinatura{
	font-size: 9px;

}

