/* TOPO */
.black-bg {
    background: #2f4f4f none repeat scroll 0 0;
    border-bottom: 1px solid #666666;
    box-shadow: 0 4px 4px #bcbcbc;
}

/* MENU */
#sidebar {
    background: #2f4f4f none repeat scroll 0 0;
    /****** height: 100%; nao utilizar **********/
    width: 210px;
}

/* IMG PERFIL */
#img_perfil {
    background: rgba(50, 50, 50, 0.50) none repeat scroll 0 0 !important;
    border-bottom: 1px solid #bcbcbc;
    /*border-radius: 20px;*/
    /*box-shadow: 0 0 10px #313030 inset;*/
    height: 180px;
    margin-top: 60px;
    padding-top: 15px;
    width: 100%; /*135px */
}

/* MENU */
ul.sidebar-menu {
    margin-top: 241px;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    font-weight: bold !important;
}

ul.sidebar-menu li a {
    font-weight: bold !important;
    font-size: 13px;
}

ul.sidebar-menu li ul.sub li a {
    font-weight: bold !important;
    font-size: 13px;
}

/* OUTROS */
.fundoBranco{background:#fff;}
.espacoBotoes{margin-left: 5px;}
fieldset { border: 0px !important; }

/* ABAS */
#abaCR1, #abaCR2, #abaCR3, #abaCR4, #abaCR5  {
	border-right: 1px solid #ddd !important;
	border-left: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    background:#fff;
}
#yw0_tab_1, #yw0_tab_2, #yw0_tab_3 {
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    /*border-top: 1px solid #ddd !important;*/
    border-bottom: 1px solid #ddd !important;
    background:#fff;
}
#yw2_tab_1, #yw2_tab_2 {
    border-right: 1px solid #428BCA !important;
    border-left: 1px solid #428BCA !important;
    border-top: 1px solid #428BCA !important;
    border-bottom: 1px solid #428BCA !important;
    background:#fff;
}
#yw3_tab_1, #yw3_tab_2, #yw3_tab_3 {
    border-right: 1px solid #428BCA !important;
    border-left: 1px solid #428BCA !important;
    border-top: 1px solid #428BCA !important;
    border-bottom: 1px solid #428BCA !important;
    background:#fff;
}
#yw4_tab_1, #yw4_tab_2, #yw4_tab_3, #yw4_tab_4 {
    border-right: 1px solid #3cb371 !important;
    border-left: 1px solid #3cb371 !important;
    border-top: 1px solid #3cb371 !important;
    border-bottom: 1px solid #3cb371 !important;
    background:#fff;
}
#yw5_tab_1, #yw5_tab_2, #yw5_tab_3, #yw5_tab_4, #yw5_tab_5 {
    border-right: 1px solid #3cb371 !important;
    border-left: 1px solid #3cb371 !important;
    border-top: 1px solid #3cb371 !important;
    border-bottom: 1px solid #3cb371 !important;
    background:#fff;
}
#yw6_tab_1, #yw6_tab_2, #yw6_tab_3 {
    border-right: 1px solid #428BCA !important;
    border-left: 1px solid #428BCA !important;
    border-top: 1px solid #428BCA !important;
    border-bottom: 1px solid #428BCA !important;
    background:#fff;
}
#yw7_tab_1, #yw7_tab_2, #yw7_tab_3 {
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    background:#fff;
}
#yw9_tab_1, #yw9_tab_2, #yw9_tab_3 {
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    background:#fff;
}
#yw11_tab_1, #yw11_tab_2, #yw11_tab_3 {
    border-right: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    background:#fff;
}

.nav-pills > li > a {
    border-radius: 0px !important;
}


/* INDEX USUARIO MSGs */
.bs-callout{text-align: left; background:#fff;padding:20px;margin:20px 0;border:1px solid #bcbcbc;border-left-width:5px;border-radius:3px}
.bs-callout h4{margin-top:0;margin-bottom:5px}
.bs-callout p:last-child{margin-bottom:0}
.bs-callout code{border-radius:3px}
.bs-callout+.bs-callout{margin-top:-5px}
.bs-callout-danger{border-left-color:#d9534f}
.bs-callout-danger h4{color:#d9534f}
.bs-callout-warning{border-left-color:#f0ad4e}
.bs-callout-warning h4{color:#f0ad4e}
.bs-callout-info{border-left-color:#5bc0de}
.bs-callout-info h4{color:#5bc0de}
.bs-callout-success{border-left-color:#5CB85C}
.bs-callout-success h4{color:#5CB85C}


/*.nav > li > a:hover, .nav > li > a:focus {
    background: #428bca !important;
}*/
/*.nav > li > a:hover {
    background: #bcbcbc !important;
}*/

/*a:focus {
    color: #006400;
}*/
a:hover {
    color: #666666;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: #2F4F4F;
    font-weight: bold;
    color: #fff;
}

